<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @model UserTransComb
    <div>
        <a href="/logout">Logout</a>
        <h1>Welcome @Model.NewUser.FirstName</h1>
        <h3>Current balance is: $@ViewBag.Balance</h3>
        <div>
            <form asp-action="Transactions" asp-controller="Home" method="post">
                <h3>Deposit/Withdraw</h3>
                <input asp-for="NewTrans.Amount">
                <button>Submit</button>
            </form>
        </div>
        <div>
            <table>
                <th>
                    <tr>
                        <td><h4>Amount</h4></td>
                        <td><h4>Date</h4></td>
                    </tr>
                </th>
                <tbody>
                    @foreach(var tran in ViewBag.trans)
                    {
                        decimal trans = Math.Round(tran.Amount, 2);
                    <tr>
                        <td>$@trans</td>
                        <td>@tran.CreatedAt</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>